@model DoanMonhoc_WebCayCanh.Models.UserModel

@{
    ViewBag.Title = "Login";
}

@{
    Layout = "~/Views/Account/_Account.cshtml";
}


<h5> Tài khoản Admin: username:admin ||||||   password: admin</h5>
<h5> Tài khoản Customer: username:customer ||||||  password: customer</h5>



<div class="contain mt-5">
    <div class="row contain">
        <div class=" col-12 col-md-6 offset-3 item1 px-5 pt-5">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>LOGIN!</h4>

                Bạn chưa có tài khoảng? <a href="@Url.Action("Signup", "Account")" class="btn btn-outline-dark ms-1">Đăng Ký</a>
                <a href="@Url.Action("Portal", "Home")" class="btn btn-outline-dark "><i class="fa-solid fa-house"></i></a>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-12 px-auto">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UserPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" , type = "password" } })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 mt-2">
                        <input type="submit" value="Đăng Nhập" class="btn btn-dark" />
                    </div>

                </div>
            </div>
            }
        </div>
        <div class="item2 col-12 col-md-6 offset-3">
            <img src="~/Content/Images/bg2.png" class="blur-image" width="500px" height="600px" />
        </div>
        
    </div>
    
        
   
</div>

<style>
    .contain {
        position: relative;
    }

    .item1 {
        position: absolute; 
        z-index: 2;
    }

    .item2 {
        position: absolute;
        z-index: 1;
    }
    .blur-image {
        filter: blur(5px); /* Adjust the blur radius as needed */
    }
</style>
